<div class="section fp-auto-height-responsive animated-row" data-section="downloads">
    <div class="title-block animate" data-animate="fadeInUp">
        <h2>Downloads</h2>
    </div>
    
    <div class="container col-md-8 col-lg-8 card-columns wide-col-laptop">
        {% for device_data in site.data.devices %}
        {%- assign device = device_data[1] -%}
        <div class="bg-dark card">
          <div class="card-header">
            {{ device.name }}
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                Codename: {{ device_data[0] }}<br>
                PBRP Version: {{ device.ver }}<!-- TODO OFFICIAL--><br>
                <!-- TODO Release Date: DD/MM/YYYY<br>-->
            </p>

            <a href="{{ site.links.sf_release }}/files/{{ device_data[0] }}/" target="_blank" class="btn btn-info">Download</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Maintained by {{ device.dev }}</small>
          </div>
        </div>
        {% endfor %}
      </div>          
</div>